@import "../../../../variables.scss";

.spinner-border {
  border-color: $rich-color;
  border-right-color: transparent;
}

:host {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: inherit;
}

:host,
.spinner-border {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
